<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="Jive Data Visualization Graph"
               description="Jive Data Visualization Graph"
               author="Accenture"
               author_affiliation="Accenture">

    <!-- Commonly used features -->
    <Require feature="dynamic-height" />
    <Require feature="jive-core-v2" />
    <Require feature="jquery-1.6" />
    <Require feature="osapi"/>
    <Require feature="settitle"/>
    <Require feature="views" />

  </ModulePrefs>

  <Content type="html" view="home,canvas" href="displaygraph.html" preferred_height="400" />


</Module>
